body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h1{
  text-align: center;
  margin-bottom: 3rem;
}
/*styling for chat section*/
#section-chat{
  display: flex;
  justify-content: center;
  max-width: min(1000px , 100%);
  margin:  0 auto;
  gap: 1rem;

  & > *{
    flex: 1 1 auto;
  }
  .user-socket{
    margin-bottom: 1rem;
    background-color: lightgrey;
    cursor: pointer;
    padding: 1rem;
  }
}
.current-user, .chat-current-user{
  background-color: darkblue!important;
  color: white;
}
#chat-wrapper{
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;

  #chat-output{
    height: 500px;
    border: 2px solid black;
    overflow-y: auto;

    div.chat{
      padding: 1rem;
      background-color: lightgrey;
      margin-bottom: 1rem;
      width: 50%;
      margin-right: auto;
    }
    div.chat-current-user{
      margin-left: auto;
      margin-right: 0;
    }
    div.notification{
      padding: 1rem;
      background-color: #293d4f;
      color: white;
      margin-bottom: 1rem;
    }
  }
  #chat-input{
    display: flex;
    justify-content: center;
    gap:0.5rem;
    flex-direction: column;
    div{
      display: flex;
      gap: 0.5rem;
    }
    input{
      width: 90%;
      height: 30px;
    }
    button{
      width: 10%;
    }
  }
}
.selected{
  background-color: #32326d!important;
  color: white;
}
.text-end{
  text-align: end;
}
.mb-1{
  margin-bottom: .5rem;
}